.sidebarWrapper {
  position: fixed;
  background-color: grey;
  margin: 60px 0 0 0;
  color: white;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sidebar {
    padding: 20px 10px;
    height: 100%;
  }
}
